@media screen and (max-width: 1200px) {
    .bcdh {
        flex-direction: column;
        width: 100%;
    }
    .bcd {
        width: 100%;
        height: 300px;
    }
    .h {
        width: 100%;
        height: 300px;
    }
    .a {
        height: 100px;
    }
    .b {
        width: 33.3%;
        height: 150px;

    }
}
