body {
    margin: 0}
.main {
    width: 1000px;
    min-height: 400px;
    margin: 0 auto;
}
.a {
    background: green;
    width: 1000px;
    height: 120px;
}
.bcdh {
    width: 1000px;
    min-height: 280px;
    display: flex;
}
.bcd {
    width: 75%;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
}
.b {
    background: rgb(2,0,36);
    background: radial-gradient(circle, darkslategray 47%,hotpink 53%, purple 74%);
    width: 33.3%;
    height: 140px;}
.h {
    background: orange ;
    width: 25%;
    height: 280px;
    display: flex;
}