body{
    margin: 0;
}
.project1{
    height: 700px;
    width: 650px;
    margin: 0 auto;
}
.rap{
    height: 250px;
    background: #2269ba;
    width: 650px;
    flex-direction: column;
    align-items: center;
}
.rap1{
    height: 200px;
    display: flex;
    background: #fdfdfe;
    justify-content: center;
    column-gap: 20px;
    padding: 20px 0;
}
.tennis{
    height: 100%;
    width: 33.3%;
    background: #16457a;
    text-align: center;
    font-size: 50px;
}
.rap2{
    height: 250px;
    background: #2269ba;
    width: 650px;
}