body{
    margin: 0;
}
.head{
    background: aqua;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: flex;
}
.box{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.car{
    width: 350px;
    height: 100px;
    background: white;
    border-radius: 5px;
    display: flex;
}
.fa-code{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-wordpress{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-google-plus-square{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-comment-dots{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-id-card{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.fa-file-pen{
    color: silver;
    font-size: 35px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.header{
    color: darkorange;
    width: 250px;
    font-size: 25px;
    margin-bottom: 6px;
    margin-top: 8px;
    margin-left: 15px;
}
.nikname{
    color: black;
    font-size: 13px;
    margin-left: 15px;
}