body{
    margin: 0;
    display: flex;
    justify-content: center;
}
.head{
    width: 600px;
    height: 300px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
}
.need{
    width: 30%;
    height: 230px;
    position: relative;
    border: 1px solid darkgrey;
}
.one{
    z-index: 1;
    background: #fdfdfe;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: 65px;
    position: absolute;
    border: 1px solid darkgrey;
}
.fa-solid{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 18px;
}
.fa-facebook-messenger{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 18px;
}
.txt{
    color: darkgrey;
    font-family:Consolas;
    text-align: center;
    display: flex;
    font-size: 17px;
    margin: 20px 10px;
}
.car{
    color: darkgrey;
    font-family: Consolas;
    text-align: center;
    font-size: 12px;
}
.more{
    color: darkgrey;
    font-family: Consolas;
    text-align: center;
    font-size: 14px;
    border: 1px solid #000000;
    width: 111px;
    height: 30px;
    margin:50px 30px 10px 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}