head{
    background: orange;
}
body{
    background: orange;
}
h1{
    background: darkorange;color: darkblue;text-align: center;
}
h2{
    background: orange;color: darkblue;text-align: center;
}
p{
    background: yellow;color: darkblue;
}
ul{
    background: darkorange;color: darkblue;text-align: center;
}
li{
    background: darkorange;color: darkblue;text-align: center;
}
img{
    width: 400px;
}
